* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  background: #000;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e1251b;
  border-radius: 5px;
}

body {
  background: black;
}

header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
}
header nav {
  border-bottom: 1px solid #6c757d;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}
header nav .menu {
  display: flex;
  flex: 0 0 17%;
  font-size: 25px;
}
header nav .menu i {
  color: #f8f9fa;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav li {
  position: relative;
  display: flex;
  align-items: center;
}
header nav li .quantity {
  width: 17px;
  height: 17px;
  color: #f8f9fa;
  position: absolute;
  bottom: -7px;
  left: 35%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 0;
  background: black;
  cursor: pointer;
}
header nav li i {
  color: #f8f9fa;
  margin: 0 18px;
  font-size: 22px;
}
header nav li span {
  color: #f8f9fa;
  font-size: 15px;
}
header .basket-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 600px;
  z-index: 99;
  background: #464646;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
}
header .basket-container .basket-content {
  width: 900px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #464646;
  padding: 70px 320px 30px 120px;
  height: 100%;
  transform: translateX(100%);
  transition: 0.5s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.23, 0.34, 0.2, 1.49);
  transform: translateX(300px);
}
header .basket-container .basket-content > p {
  font-weight: bold;
  font-size: 52px;
  color: #fff;
  margin-bottom: 35px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .basket-container:after {
  box-sizing: border-box;
}
header .basket-container:before {
  box-sizing: border-box;
}
header .basket-container:-webkit-scrollbar {
  width: 0;
  width: 5px;
  height: 0;
}
header .basket-container:-webkit-scrollbar-thumb {
  background: #e1251b;
}
header .basket-container:-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
}
header .basket-container p {
  margin-top: 0;
  margin-bottom: 1rem;
}
header .basket-container .b-product-list {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 310px);
  justify-content: space-between;
  overflow: auto;
  position: relative;
  padding-bottom: 145px;
}
header .basket-container .b-product-list .product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 10px;
  width: 47%;
  border: 1px solid #707070;
  height: 350px;
  margin-top: 80px;
}
header .basket-container .b-product-list .product-item:nth-child(1) {
  margin-top: 20px;
}
header .basket-container .b-product-list .product-item:nth-child(2) {
  margin-top: 20px;
}
header .basket-container .b-product-list .product-item .delete {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
header .basket-container .b-product-list .product-item .delete svg {
  stroke: red;
  width: 19px;
  height: 19px;
}
header .basket-container .b-product-list .product-item .num {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
header .basket-container .b-product-list .product-item .p-name {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  width: 85%;
  max-height: 70px;
}
header .basket-container .b-product-list .product-item .qty {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
header .basket-container .b-product-list .product-item .qty .qty-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .basket-container .b-product-list .product-item .qty .qty-plus svg {
  transform: rotate(-90deg);
}
header .basket-container .b-product-list .product-item .qty .piece {
  margin: 0 25px 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .basket-container .b-product-list .product-item .qty .piece input {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  color: #fff;
  width: 25px;
}
header .basket-container .b-product-list .product-item .qty .piece span {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
header .basket-container .b-product-list .product-item .qty .qty-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .basket-container .b-product-list .product-item .qty .qty-minus svg {
  transform: rotate(90deg);
}
header .basket-container .b-product-list .product-item .qty input {
  border: 0;
  width: 60px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-shadow: none;
  -moz-appearance: textfield;
}
header .basket-container .b-product-list .product-item .price {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: -moz-max-content;
  width: max-content;
  background: #464646;
  padding: 0 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .basket-container .b-product-list .product-item .price p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
header .basket-container .b-product-list .product-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
header .basket-container .basket-bottom {
  display: flex;
  flex-direction: column;
  height: 190px;
  position: relative;
}
header .basket-container .basket-bottom p {
  font-weight: normal;
  font-size: 29px;
  color: #fff;
  margin-bottom: 35px;
}
header .basket-container .basket-bottom a {
  background: #2c2c2c;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 25px;
  color: #fff;
  transition: 0.4s;
}
header .basket-container .basket-bottom a svg {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
  margin-left: 45px;
  transition: 0.4s;
}
header .basket-container .basket-bottom a:hover {
  background-color: #e1251b;
  color: #ffffff;
}
header .basket-container .site-basket .basket-content .basket-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 150px;
  background: linear-gradient(0deg, #464646 20%, transparent);
  z-index: 2;
  pointer-events: none;
}
header .basket-container .site-basket .basket-content .basket-bottom a:hover {
  background: #e1251b;
}
header .basket-container svg {
  overflow: hidden;
  vertical-align: middle;
}
header .basket-container .close-btn {
  stroke: white;
  stroke-width: 2px;
  cursor: pointer;
}
header .basket-container a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
header .basket-container a:hover {
  color: #0056b3;
  text-decoration: underline;
  text-decoration: none;
  outline: 0 !important;
}
header .basket-container b {
  font-weight: bolder;
}
header .basket-container img {
  vertical-align: middle;
  border-style: none;
}
header .basket-container input {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  border-radius: 0 !important;
}
@media only screen and (max-width: 1660px) {
  header .basket-container .basket-content {
    padding: 30px 320px 30px 120px;
  }
  header .basket-container .basket-content > p {
    font-size: 39px;
  }
  header .basket-container .b-product-list {
    height: calc(100% - 290px);
  }
  header .basket-container .site-basket .basket-content .basket-bottom::before {
    height: 100px;
  }
}
header .shop-item-container {
  width: 100%;
  height: 100vh;
  background-color: #464646;
  display: none;
  z-index: 85;
  overflow: auto;
  padding: 30px 10px 100px 10px;
  transition: opacity 0.3s ease;
}
header .shop-item-container .all-boxes-item {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
header .shop-item-container .all-boxes-item ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #6c757d;
  width: 85%;
  margin: 0 auto;
}
header .shop-item-container .all-boxes-item ul:nth-child(2) {
  margin: 30px 0;
}
header .shop-item-container .all-boxes-item ul:nth-child(3) {
  margin-bottom: 150px;
}
header .shop-item-container .all-boxes-item ul li {
  width: 100px;
  height: 124px;
  margin-bottom: 50px;
  margin-right: 70px;
}
header .shop-item-container .all-boxes-item ul li:nth-child(2), header .shop-item-container .all-boxes-item ul li:nth-child(3), header .shop-item-container .all-boxes-item ul li:nth-child(4), header .shop-item-container .all-boxes-item ul li:nth-child(5) {
  border-left: 1px solid #6c757d;
}
header .shop-item-container .all-boxes-item ul li a {
  margin: 0 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
header .shop-item-container .all-boxes-item ul li a img {
  width: 50px;
  height: 50px;
}
header .shop-item-container .all-boxes-item ul li a span {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
header .login {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  display: none;
}
header .login .login-register-button {
  display: flex;
  justify-content: center;
  background: #212226;
  width: 100%;
  align-items: center;
  gap: 40px;
  padding: 25px 0;
}
header .login .login-register-button .login-button a {
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  color: #ffffff;
  display: inline-block;
  transition: 0.4s;
}
header .login .login-register-button .register-button a {
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  color: #ffffff;
  opacity: 0.4;
  display: inline-block;
  transition: 0.4s;
}
header .login .login-form {
  background: #464646;
  padding: 40px 50px 50px;
}
header .login .login-form .form-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
header .login .login-form .form-top p,
header .login .login-form .form-top i {
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 0;
}
header .login .login-form .form-mid form .login-email input {
  border: 0;
  background: none;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  padding: 40px 20px 25px 0;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: none !important;
  outline: 0 !important;
  width: 100%;
}
header .login .login-form .form-mid form .login-email input::-moz-placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #9e9b9b;
  font-weight: bold;
}
header .login .login-form .form-mid form .login-email input::placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #9e9b9b;
  font-weight: bold;
}
header .login .login-form .form-mid form .password-email input {
  border: 0;
  background: none;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  padding: 40px 20px 25px 0;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: none !important;
  outline: 0 !important;
  width: 100%;
}
header .login .login-form .form-mid form .password-email input::-moz-placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #9e9b9b;
  font-weight: bold;
}
header .login .login-form .form-mid form .password-email input::placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #9e9b9b;
  font-weight: bold;
}
header .login .login-form .form-mid form button {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #727272;
  background: #fff;
  padding: 20px 45px;
  margin: 40px auto 0;
  outline: 0 !important;
  box-shadow: none !important;
  transition: 0.4s;
  border: none;
}
header .login .login-form .form-mid form button:hover {
  background: #e1241a;
  color: #f8f9fa;
  cursor: pointer;
}
header .login .login-form .form-mid form a {
  font-weight: normal;
  text-decoration: underline !important;
  font-size: 15px;
  color: #b7b7b7;
  display: block;
  text-align: center;
  margin-top: 25px;
  transition: 0.4s;
}
header .shop-item-search-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #464646;
  z-index: 2;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}
header .shop-item-search-container .search-close-icon {
  max-width: 50px;
  margin: 20px auto;
}
header .shop-item-search-container .search-close-icon i {
  font-size: 40px;
  color: white;
}
header .shop-item-search-container #form {
  display: inline-block;
  margin: 150px auto;
}
header .shop-item-search-container #form p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
header .shop-item-search-container #form .form_input {
  font-weight: normal;
  font-size: 101px;
  text-align: left;
  color: #fff;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  letter-spacing: 4px;
  max-width: auto;
}

main .bg-image-register {
  background-image: url(/assets/image/demobg.png);
  width: 100%;
  height: 42vh;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
main .register {
  width: 50%;
  margin: 60px auto;
}
main .register .register-all .register-name {
  margin-top: 60px;
}
main .register .register-all .register-name input {
  border: 0;
  background: none;
  font-weight: normal;
  font-size: 15px;
  color: #e42c22;
  padding: 0px 20px 25px 0;
  border-bottom: 1px solid rgba(214, 214, 214, 0.2);
  box-shadow: none !important;
  outline: 0 !important;
  width: 100%;
}
main .register .register-all .register-name input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
}
main .register .register-all .register-name input::placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
}
main .register .register-all .register-email {
  margin-top: 60px;
}
main .register .register-all .register-email input {
  border: 0;
  background: none;
  font-weight: 300;
  font-size: 15px;
  color: #e42c22;
  padding: 0px 20px 25px 0;
  border-bottom: 1px solid rgba(214, 214, 214, 0.2);
  box-shadow: none !important;
  outline: 0 !important;
  width: 100%;
}
main .register .register-all .register-email input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
}
main .register .register-all .register-email input::placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
}
main .register .password-all .register-password {
  margin-top: 60px;
}
main .register .password-all .register-password input {
  border: 0;
  background: none;
  font-weight: 300;
  font-size: 15px;
  color: #e42c22;
  padding: 0px 20px 25px 0;
  border-bottom: 1px solid rgba(214, 214, 214, 0.2);
  box-shadow: none !important;
  outline: 0 !important;
  width: 100%;
}
main .register .password-all .register-password input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
}
main .register .password-all .register-password input::placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
}
main .security-all {
  margin-top: 30px;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 30px;
  width: 100%;
}
main .security-all .security-image {
  position: relative;
}
main .security-all .security-image img {
  border-bottom: 1px solid gray;
}
main .security-all .security-image i {
  position: absolute;
  top: 60%;
  left: 90%;
  transform: translate(-60%, -90%);
  color: red;
}
main .security-all .security-code input {
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 1px solid gray;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  padding: 15px 0;
  transition: 0.4s;
  outline: none;
}
main .gizlilik {
  width: 100%;
  line-height: 1.5;
}
main .gizlilik p {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}
main .gizlilik a {
  color: #e1251b;
  font-size: 15px;
}
main .send-message-contact {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 50px;
}
main .send-message-contact i {
  color: #f8f9fa;
}
main .send-message-contact button {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  border: 2px solid rgba(229, 206, 174, 0);
  border-radius: 6px;
  background: #e1251c;
  padding: 10px 40px;
  outline: none;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
main .send-message-contact button:hover {
  background-color: #cc2c04;
  color: #f8f9fa;
}

footer {
  background-color: #16171a;
}
footer .footer-all {
  width: 1224px;
  margin: 0 auto;
}
footer .footer-all .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}
footer .footer-all .footer-email a {
  font-weight: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.4s;
}
footer .footer-all .footer-send-email {
  display: flex;
  align-items: center;
  width: 365px;
  height: 64px;
}
footer .footer-all .footer-send-email .buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px 18px 10px;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
}
footer .footer-all .footer-send-email .buttons span {
  font-weight: normal;
  font-size: 15px;
  text-align: right;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
footer .footer-all .footer-send-email .input-box {
  background: none;
  border-bottom: 1px solid gray;
  font-weight: normal;
  height: 60px;
  font-size: 15px;
  color: #fff;
  padding: 0 10px 30px 25px;
  outline: 0;
  box-shadow: none;
}
footer .footer-all .footer-send-email .input-box input {
  background: none;
  border: none;
  font-weight: normal;
  font-size: 15px;
  padding: 0 10px 30px 25px;
  outline: 0;
  box-shadow: none;
}
footer .footer-all .footer-send-email .send-email button {
  background: none;
  border: none;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.71);
  outline: 0;
  box-shadow: none;
  transition: 0.2s;
  border-bottom: 1px solid red;
  height: 60px;
  cursor: pointer;
}
footer .footer-all .footer-send-email .send-email button:hover {
  border-bottom: 10px solid red;
}
footer .footer-all .footer-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-all .footer-mid .links {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-all .footer-mid .links a {
  font-weight: normal;
  font-size: 20px;
  color: #fff;
}
footer .footer-all .footer-mid .social-icons {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer-all .footer-mid .social-icons a i {
  font-size: 17px;
  color: gray;
}
footer .footer-all .footer-mid .policys {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer-all .footer-mid .policys a {
  font-weight: normal;
  font-size: 20x;
  color: #fff;
  transition: 0.4s;
}
footer .footer-all .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}
footer .footer-all .footer-bottom span {
  font-size: 17px;
  color: #fff;
  opacity: 0.5;
}
footer .footer-all .footer-bottom p {
  font-size: 17px;
  color: #fff;
  opacity: 0.5;
}

@media only screen and (max-width: 1024px) {
  .header .nav {
    display: block;
    overflow: hidden;
  }
  .header .shop-item-container .all-boxes-item {
    gap: 0;
    width: 100%;
  }
  .header .shop-item-container .all-boxes-item ul {
    border-bottom: none;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .header .shop-item-container .all-boxes-item ul:nth-child(2) {
    margin: 0;
  }
  .header .shop-item-container .all-boxes-item ul:nth-child(3) {
    margin-bottom: 0;
  }
  .header .shop-item-container .all-boxes-item ul li {
    width: 92%;
    margin: 0 auto;
    border-bottom: 1px solid #6c757d;
  }
  .header .shop-item-container .all-boxes-item ul li:nth-child(2), .header .shop-item-container .all-boxes-item ul li:nth-child(3), .header .shop-item-container .all-boxes-item ul li:nth-child(4), .header .shop-item-container .all-boxes-item ul li:nth-child(5) {
    border-left: none;
  }
  .header .shop-item-container .all-boxes-item ul li a {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    font-size: 15px;
    width: 300px;
  }
  .header .shop-item-container .all-boxes-item ul li a span {
    display: inline-block;
  }
  .power-slider .power-slider-header {
    width: 100%;
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 991px) {
  .header nav {
    padding: 40px 0;
  }
  .header .basket-container {
    width: 550px;
  }
  .power-slider .power-slider-boxs1 .power-slider-box1,
  .power-slider .power-slider-boxs2 .power-slider-box1,
  .power-slider .power-slider-boxs3 .power-slider-box1 {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header nav {
    padding: 30px 0;
  }
  .header nav ul {
    width: 240px;
    overflow: hidden;
    justify-content: center;
  }
  .header nav ul li span {
    display: none;
  }
  .header nav .logo {
    width: 150px;
    height: 50px;
  }
  .header nav .logo img {
    width: 100%;
    height: 100%;
  }
  .header .basket-container {
    width: 470px;
  }
  .header .basket-container .basket-header {
    width: 400px;
  }
}
@media only screen and (max-width: 576px) {
  .header nav {
    padding: 25px 0;
  }
  .header nav .menu {
    font-size: 22px;
    flex: 0 0 15%;
  }
  .header nav ul li i {
    margin: 0 12px;
    font-size: 20px;
  }
  .header .basket-container {
    width: 400px;
  }
  .header .basket-container .basket-header {
    width: 320px;
  }
  main .mySwiper .swiper-wrapper .swiper-slide .slider-text {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}
@media only screen and (max-width: 450px) {
  .header nav {
    padding: 22px 0;
  }
  .header nav ul li i {
    margin: 0 7px;
    font-size: 19px;
  }
  .header .basket-container {
    width: 300px;
  }
  .header .basket-container .basket-header {
    width: 270px;
  }
}
@media only screen and (max-width: 360px) {
  .header nav {
    padding: 20px 0;
  }
  .header nav .menu {
    font-size: 20px;
    flex: 0 0 12%;
  }
  .header nav ul li i {
    margin: 0 5px;
    font-size: 18px;
  }
  .header .basket-container {
    width: 250px;
  }
  .header .basket-container .basket-header {
    width: 220px;
  }
}/*# sourceMappingURL=register.css.map */