* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  // font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  //   "Courier New", monospace;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  background: #000;
  width: 5px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #e1251b;
  border-radius: 5px;
}
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
body {
  background: black;
}

header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  nav {
    border-bottom: 1px solid $gray;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    .menu {
      display: flex;
      flex: 0 0 17%;
      font-size: 25px;
      i {
        color: $light;
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    li {
      .quantity {
        width: 17px;
        height: 17px;
        color: $light;
        position: absolute;
        bottom: -7px;
        left: 35%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        line-height: 0;
        background: black;
        cursor: pointer;
      }
      position: relative;
      display: flex;
      align-items: center;
      i {
        color: $light;
        margin: 0 18px;
        font-size: 22px;
      }
      span {
        color: $light;
        font-size: 15px;
      }
    }
  }
  .basket-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 600px;
    z-index: 99;
    background: #464646;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    // .basket-header {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   width: 450px;
    //   margin: 50px auto 20px auto;
    //   span {
    //     font-weight: bold;
    //     font-size: 42px;
    //     color: #fff;
    //   }
    //   .close_btn_click {
    //     margin-top: 20px;
    //     i {
    //       color: $light;
    //       font-size: 25px;
    //     }
    //   }
    // }
    // .sepet-info {
    //   width: 100%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    //   border: 1px solid #3c3c3c;
    //   padding: 15px 25px;
    //   margin-top: 20px;
    //   margin-bottom: 20px;
    //   border-radius: 3px;
    //   position: relative;
    //   .sepet-img {
    //     max-width: 120px;
    //     margin-left: 0;
    //     a {
    //       text-decoration: none;
    //       background-color: transparent;
    //       img {
    //         width: 100%;
    //         height: auto;
    //       }
    //     }
    //   }
    //   .sepet-name {
    //     max-width: 400px;
    //     text-align: center;
    //     padding: 0 15px;
    //     a {
    //       color: #fff;
    //       font-size: 13px;
    //       font-weight: 700;
    //       display: block;
    //       transition: 0.4s;
    //       line-height: 1.3;
    //     }
    //   }
    //   .sepet-count {
    //     .piece {
    //       display: flex;
    //       align-items: center;
    //       .product-qty {
    //         display: flex;
    //         align-items: center;
    //         gap: 10px;
    //         background: #1e1e1e;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         .qty-minus {
    //           transform: rotate(90deg);
    //           cursor: pointer;
    //         }
    //         .piece-count {
    //           input {
    //             background: none;
    //             border: none;
    //             font-weight: bold;
    //             font-size: 30px;
    //             text-align: center;
    //             color: #fff;
    //             width: 30px;
    //           }
    //         }
    //         .qty-plus {
    //           transform: rotate(270deg);
    //           cursor: pointer;
    //         }
    //       }
    //     }
    //   }
    //   .sepet-single-total {
    //     display: flex;
    //     text-align: center;
    //     gap: 30px;
    //     margin-left: 15px;
    //     .sepet-single {
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       gap: 5px;
    //       h6 {
    //         font-size: 16px;
    //         font-weight: 500;
    //         color: #ffffff91;
    //       }
    //       p {
    //         font-size: 16px;
    //         margin: 0;
    //         color: #fff;
    //         font-weight: 500;
    //       }
    //     }
    //     .sepet-sub-total {
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       gap: 5px;
    //       h6 {
    //         font-size: 16px;
    //         font-weight: 500;
    //         color: #ffffff91;
    //       }
    //       p {
    //         margin: 0;
    //         color: #fff;
    //         font-weight: 500;
    //       }
    //     }
    //   }
    //   .sepet-delete {
    //     color: #fff;
    //     padding: 5px 10px;
    //     font-size: 12px;
    //     font-weight: 700;
    //     background: #b71f1b;
    //     border-radius: 0 3px 0 3px;
    //     cursor: pointer;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     a {
    //       color: $light;
    //     }
    //     i {
    //       color: $light;
    //       font-weight: bold;
    //     }
    //   }
    // }

    $color_1: #fff;
    $color_2: #007bff;
    $color_3: #0056b3;
    $background-color_1: transparent;

    .basket-content {
      width: 900px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: #464646;
      padding: 70px 320px 30px 120px;
      height: 100%;
      transform: translateX(100%);
      transition: 0.5s;
      transition-delay: 0.3s;
      transition-timing-function: cubic-bezier(0.23, 0.34, 0.2, 1.49);
      transform: translateX(calc(0px + 300px));
      > p {
        font-weight: bold;
        font-size: 52px;
        color: $color_1;
        margin-bottom: 35px;
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &:after {
      box-sizing: border-box;
    }
    &:before {
      box-sizing: border-box;
    }
    &:-webkit-scrollbar {
      width: 0;
      width: 5px;
      height: 0;
    }
    &:-webkit-scrollbar-thumb {
      background: #e1251b;
    }
    &:-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px black;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .b-product-list {
      display: flex;
      flex-wrap: wrap;
      height: calc(100% - 310px);
      justify-content: space-between;
      overflow: auto;
      position: relative;
      padding-bottom: 145px;
      .product-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px 10px;
        width: 47%;
        border: 1px solid #707070;
        height: 350px;
        margin-top: 80px;
        &:nth-child(1) {
          margin-top: 20px;
        }
        &:nth-child(2) {
          margin-top: 20px;
        }
        .delete {
          width: 35px;
          height: 35px;
          background: #fff;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          svg {
            stroke: red;
            width: 19px;
            height: 19px;
          }
        }
        .num {
          font-weight: bold;
          font-size: 15px;
          text-align: center;
          color: $color_1;
          margin-bottom: 5px;
        }
        .p-name {
          font-weight: normal;
          font-size: 15px;
          text-align: center;
          color: $color_1;
          margin-bottom: 0;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;
          width: 85%;
          max-height: 70px;
        }
        .qty {
          display: flex;
          align-items: center;
          margin-top: 15px;
          .qty-plus {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            svg {
              transform: rotate(-90deg);
            }
          }
          .piece {
            margin: 0 25px 0 5px;
            user-select: none;
            input {
              background: none;
              border: none;
              font-weight: bold;
              font-size: 15px;
              text-align: right;
              color: $color_1;
              width: 25px;
            }
            span {
              font-weight: bold;
              font-size: 15px;
              text-align: center;
              color: $color_1;
            }
          }
          .qty-minus {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            svg {
              transform: rotate(90deg);
            }
          }
          input {
            border: 0;
            width: 60px;
            text-align: center;
            padding: 0;
            margin: 0;
            outline: 0;
            box-shadow: none;
            -moz-appearance: textfield;
          }
        }
        .price {
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          width: max-content;
          background: #464646;
          padding: 0 25px;
          user-select: none;
          p {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            color: $color_1;
            margin-bottom: 0;
          }
        }
        img {
          width: 100px;
          height: 100px;
          margin-bottom: 20px;
        }
      }
    }
    .basket-bottom {
      display: flex;
      flex-direction: column;
      height: 190px;
      position: relative;
      p {
        font-weight: normal;
        font-size: 29px;
        color: $color_1;
        margin-bottom: 35px;
      }
      a {
        background: #2c2c2c;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        font-size: 25px;
        color: $color_1;
        transition: 0.4s;
        svg {
          fill: none;
          stroke: #fff;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 1.5px;
          margin-left: 45px;
          transition: 0.4s;
        }
        &:hover {
          background-color: #e1251b;
          color: #ffffff;
        }
      }
    }
    .site-basket {
      .basket-content {
        .basket-bottom {
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            height: 150px;
            background: linear-gradient(0deg, #464646 20%, transparent);
            z-index: 2;
            pointer-events: none;
          }
          a {
            &:hover {
              background: #e1251b;
            }
          }
        }
      }
    }
    svg {
      overflow: hidden;
      vertical-align: middle;
    }
    .close-btn {
      stroke: white;
      stroke-width: 2px;
      cursor: pointer;
    }
    a {
      color: $color_2;
      text-decoration: none;
      background-color: $background-color_1;
      &:hover {
        color: $color_3;
        text-decoration: underline;
        text-decoration: none;
        outline: 0 !important;
      }
    }
    b {
      font-weight: bolder;
    }
    img {
      vertical-align: middle;
      border-style: none;
    }
    input {
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      overflow: visible;
      border-radius: 0 !important;
    }
    @media only screen and (max-width: 1660px) {
      .basket-content {
        padding: 30px 320px 30px 120px;
        > p {
          font-size: 39px;
        }
      }
      .b-product-list {
        height: calc(100% - 290px);
      }
      .site-basket {
        .basket-content {
          .basket-bottom {
            &::before {
              height: 100px;
            }
          }
        }
      }
    }
  }
  .shop-item-container {
    width: 100%;
    height: 100vh;
    background-color: #464646;
    display: none;
    z-index: 85;
    overflow: auto;
    padding: 30px 10px 100px 10px;
    transition: opacity 0.3s ease;
    .all-boxes-item {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid $gray;
        width: 85%;
        margin: 0 auto;
        &:nth-child(2) {
          margin: 30px 0;
        }
        &:nth-child(3) {
          margin-bottom: 150px;
        }
        li {
          width: 100px;
          height: 124px;
          margin-bottom: 50px;
          margin-right: 70px;
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            border-left: 1px solid $gray;
          }
          a {
            margin: 0 auto;
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            img {
              width: 50px;
              height: 50px;
            }
            span {
              font-size: 15px;
              line-height: 22px;
              text-align: center;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .login {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    display: none;
    .login-register-button {
      display: flex;
      justify-content: center;
      background: #212226;
      width: 100%;
      align-items: center;
      gap: 40px;
      padding: 25px 0;
      .login-button {
        a {
          font-weight: 400;
          font-size: 22px;
          text-align: right;
          color: #ffffff;
          display: inline-block;
          transition: 0.4s;
        }
      }
      .register-button {
        a {
          font-weight: 400;
          font-size: 22px;
          text-align: right;
          color: #ffffff;
          opacity: 0.4;
          display: inline-block;
          transition: 0.4s;
        }
      }
    }
    .login-form {
      background: #464646;
      padding: 40px 50px 50px;
      .form-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        p,
        i {
          font-weight: normal;
          font-size: 20px;
          color: #ffffff;
          margin-bottom: 0;
        }
      }
      .form-mid {
        form {
          .login-email {
            input {
              border: 0;
              background: none;
              font-weight: normal;
              font-size: 15px;
              color: #ffffff;
              padding: 40px 20px 25px 0;
              border-bottom: 1px solid #d6d6d6;
              box-shadow: none !important;
              outline: 0 !important;
              width: 100%;
              &::placeholder {
                font-weight: normal;
                font-size: 15px;
                color: #9e9b9b;
                font-weight: bold;
              }
            }
          }
          .password-email {
            input {
              border: 0;
              background: none;
              font-weight: 300;
              font-size: 15px;
              color: #ffffff;
              padding: 40px 20px 25px 0;
              border-bottom: 1px solid #d6d6d6;
              box-shadow: none !important;
              outline: 0 !important;
              width: 100%;
              &::placeholder {
                font-weight: normal;
                font-size: 15px;
                color: #9e9b9b;
                font-weight: bold;
              }
            }
          }
          button {
            font-weight: 600;
            font-size: 15px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #727272;
            background: #fff;
            padding: 20px 45px;
            margin: 40px auto 0;
            outline: 0 !important;
            box-shadow: none !important;
            transition: 0.4s;
            border: none;
            &:hover {
              background: #e1241a;
              color: $light;
              cursor: pointer;
            }
          }
          a {
            font-weight: normal;
            text-decoration: underline !important;
            font-size: 15px;
            color: #b7b7b7;
            display: block;
            text-align: center;
            margin-top: 25px;
            transition: 0.4s;
          }
        }
      }
    }
  }
  .shop-item-search-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #464646;
    z-index: 2;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    .search-close-icon {
      max-width: 50px;
      margin: 20px auto;
      i {
        font-size: 40px;
        color: #ffff;
      }
    }
    #form {
      display: inline-block;
      margin: 150px auto;
      p {
        color: rgb(255 255 255 / 50%);
        margin-bottom: 10px;
      }
      .form_input {
        font-weight: normal;
        font-size: 101px;
        text-align: left;
        color: #fff;
        background: none;
        border: 0;
        box-shadow: none;
        outline: 0;
        letter-spacing: 4px;
        max-width: auto;
      }
    }
  }
}

main {
  .category-bgimage-name {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.7;
    }
    .category-name {
      display: flex;
      align-items: center;
      width: 25%;
      position: absolute;
      top: 50%;
      left: 10%;
      svg {
        fill: #fff;
        min-width: 55px;
        max-width: 55px;
        margin-right: 30px;
      }
      span {
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        line-height: 1;
      }
    }
  }
  .filter-product-all {
    max-width: 100%;
    margin-bottom: 50px;
    // position: relative;
    .filter-product {
      position: relative;
      display: flex;
      justify-content: space-between;
      position: relative;
      .filter-left-all {
        max-width: 393px;
        background-color: #16171a;
        position: sticky;
        .filter-left {
          position: sticky;
          top: 0;
          background-color: #16171a;
          .filter-title {
            padding-left: 70px;
            display: flex;
            align-items: center;
            gap: 20px;
            height: 100px;
            border-bottom: 1px solid rgb(255 255 255 / 10%);
            position: relative;
            &::before {
              content: "";
              position: absolute;
              right: 0px;
              top: -18px;
              border-style: solid;
              border-width: 20px 25px 31px 0;
              transform: rotate(128deg);
              border-color: transparent #e1251b transparent transparent;
            }
            svg {
              width: 50;
              height: 50;
            }
            span {
              font-size: 35px;
              color: $light;
              font-weight: normal;
            }
          }
          .filter-scroll {
            height: calc(100vh - 100px);
            overflow-y: auto;
            overflow-x: hidden;
            .category-list {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 10px;
              .container {
                width: 350px;
                .box-category {
                  display: none;
                  transition: 0.5s ease-in-out;
                }
                ul {
                  li {
                    .wrapper {
                      padding: 2px 40px;
                      .toggle {
                        width: 100%;
                        background: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 16px;
                        color: #fff;
                        font-weight: 600;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding: 15px 0;
                        .cate-name-icon {
                          display: flex;
                          align-items: center;
                          gap: 5px;
                          svg {
                            fill: $light;
                            width: 25px;
                            height: 25px;
                          }
                          span {
                            font-size: 21px;
                            color: $light;
                          }
                          i {
                            font-size: 21px;
                            color: $light;
                          }
                        }
                      }
                      .content {
                        position: relative;
                        font-size: 15px;
                        text-align: justify;
                        line-height: 30px;
                        height: 0;
                        overflow: hidden;
                        transition: all 0.5s ease-in-out;
                        ul {
                          li {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            a {
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              color: $light;
                              font-size: 20px;
                              font-weight: normal;
                              opacity: 0.3;
                              transition: 0.4s;
                              &:hover {
                                opacity: 1;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .all-categories {
                width: 210px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                  font-weight: bold;
                  font-size: 21px;
                  color: rgb(255 255 255 / 51%);
                  display: flex;
                  align-items: center;
                  cursor: pointer;
                  transition: 0.4s;
                }
                i {
                  font-size: 20px;
                  color: rgb(255 255 255 / 51%);
                }
              }
            }
            .price-range {
              max-width: 319px;
              margin: 50px;
              .price-title {
                font-weight: normal;
                font-size: 35px;
                color: #fff;
                margin: 50px 0 50px 14px;
                display: flex;
                align-items: center;
                &::after {
                  content: "";
                  height: 1px;
                  flex: 1;
                  margin-left: 55px;
                  background: rgb(255 255 255 / 10%);
                }
              }
              .values {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: var(--primary);
                & > div {
                  &:first-child {
                    margin-right: 2px;
                    color: $light;
                    font-weight: bold;
                    font-size: 20px;
                    transform: rotate(10deg);
                  }
                  &:last-child {
                    margin-right: 2px;
                    color: $light;
                    font-weight: bold;
                    font-size: 20px;
                    transform: rotate(10deg);
                  }
                }
              }
              .slider {
                --primary: #e15f1b;
                --handle: rgb(165, 165, 165);
                --handle-active: #{mix(white, #275efe, 70%)};
                --handle-hover: #{mix(white, #275efe, 90%)};
                --handle-border: 2px solid var(--primary);
                --line: #7a0808;
                --line-active: var(--primary);
                height: 23px;
                position: relative;
                pointer-events: none;
                margin-top: 20px;
                .ui-slider-handle {
                  --y: 0;
                  --background: var(--handle);
                  cursor: grab;
                  -webkit-tap-highlight-color: transparent;
                  top: 0;
                  width: 23px;
                  height: 23px;
                  transform: translateX(-50%);
                  position: absolute;
                  outline: none;
                  display: block;
                  pointer-events: auto;
                  div {
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    transition: background 0.4s ease;
                    transform: translateY(calc(var(--y) * 1px));
                    border: var(--handle-border);
                    background: var(--background);
                  }
                  &:hover {
                    --background: var(--handle-hover);
                  }
                  &:active {
                    --background: var(--handle-active);
                    cursor: grabbing;
                  }
                }
                svg {
                  --stroke: var(--line);
                  display: block;
                  height: 83px;
                  path {
                    fill: none;
                    stroke: var(--stroke);
                    stroke-width: 1;
                  }
                }
                .active,
                & > svg {
                  position: absolute;
                  top: -30px;
                  height: 83px;
                }
                & > svg {
                  left: 0;
                  width: 100%;
                }
                .active {
                  position: absolute;
                  overflow: hidden;
                  left: calc(var(--l) * 1px);
                  right: calc(var(--r) * 1px);
                  svg {
                    --stroke: var(--line-active);
                    position: relative;
                    left: calc(var(--l) * -1px);
                    right: calc(var(--r) * -1px);
                    path {
                      stroke-width: 2;
                    }
                  }
                }
              }
            }
            .product-color {
              max-width: 312px;
              margin: 50px auto;
              .color-title {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 19px;
                span {
                  font-weight: normal;
                  font-size: 35px;
                  color: #fff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                &::after {
                  content: "";
                  height: 1px;
                  flex: 1;
                  margin-left: 60px;
                  background: rgb(255 255 255 / 10%);
                }
              }
              .colors-filter {
                max-width: 250px;
                margin: 50px auto;
                .color-filter {
                  .color-box {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    span {
                      font-size: 25px;
                      font-weight: normal;
                      color: $light;
                      opacity: 0.8;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .none-filter-icon {
        width: 50px;
        height: 80px;
        border-radius: 0 25px 25px 0;
        background-color: #000;
        position: fixed;
        left: 100%;
        top: 40%;
        z-index: 99;

        img {
          margin-top: 20px;
          width: 30px;
          height: 40px;
        }
      }
      .product-right-all {
        .product-right {
          margin-top: 60px;
          // max-width: 950px;
          margin-left: 50px;
          .product-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .swiper-slide {
              // max-width: 280px;
              width: 30%;
              height: 500px;
              background-color: #212226;
              transition: 0.4s ease-in-out;
              .product-box-swipper {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                // width: 80%;
                height: 100%;
                margin: 0 auto;
                .product-image {
                  max-width: 250px;
                  height: 240px;
                  overflow: hidden;

                  img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                  }
                }
                .product-title {
                  position: relative;
                  span {
                    font-weight: normal;
                    font-size: 18px;
                    text-align: center;
                    color: #9699a7;
                    max-width: 80%;
                    padding-top: 25px;
                    margin: 0 auto 25px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                .total-rating {
                  position: relative;
                  display: flex;
                  align-items: center;
                  .total-star {
                    i {
                      color: #e1251b;
                    }
                  }
                  span {
                    margin-bottom: 0;
                    margin-left: 15px;
                    font-weight: bold;
                    font-size: 17px;
                    color: #fff;
                  }
                  p {
                    position: absolute;
                    left: 105%;
                    top: -10px;
                    padding: 4px 7px;
                    background: red;
                    border-radius: 35px;
                    line-height: 1;
                    font-weight: bold !important;
                    font-size: 13px !important;
                    color: #fff;
                  }
                }
                .product-price {
                  position: relative;
                  span {
                    font-weight: bold;
                    font-size: 22px;
                    text-align: center;
                    color: #9699a7;
                    margin-bottom: 0;
                  }
                }
              }
              .product-add-basket {
                position: relative;
                bottom: -10%;
                opacity: 0;
                border: 1px solid #e1241a;
                background-color: #e1241a;
                padding: 10px;
                width: 80%;
                transition: 0.4s ease-in-out;
                a {
                  font-weight: bold;
                  font-size: 17px;
                  color: #fff;
                }
                span {
                  font-weight: bold;
                  font-size: 17px;
                  color: #fff;
                }
                div {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 20px;
                }
              }
              &:hover {
                border: 1px solid #e1241a;
                .product-add-basket {
                  bottom: -30px;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #16171a;
  width: 100%;
  display: block;
  overflow: hidden;
  .footer-all {
    margin: 20px 55px;
    .footer-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 55px 0;
    }
    .footer-email {
      a {
        font-weight: normal;
        font-size: 20px;
        color: rgb(255 255 255 / 60%);
        transition: 0.4s;
      }
    }
    .footer-send-email {
      display: flex;
      align-items: center;
      width: 365px;
      height: 64px;
      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 20px 18px 10px;
        border-right: 1px solid #707070;
        border-bottom: 1px solid #707070;
        span {
          font-weight: normal;
          font-size: 15px;
          text-align: right;
          color: #fff;
          cursor: pointer;
          transition: 0.4s;
        }
      }
      .input-box {
        background: none;
        border-bottom: 1px solid gray;
        font-weight: normal;
        height: 60px;
        font-size: 15px;
        color: #fff;
        padding: 0 10px 30px 25px;
        outline: 0;
        box-shadow: none;
        input {
          background: none;
          border: none;
          font-weight: normal;
          font-size: 15px;
          padding: 0 10px 30px 25px;
          outline: 0;
          box-shadow: none;
        }
      }
      .send-email {
        button {
          background: none;
          border: none;
          font-weight: normal;
          font-size: 15px;
          color: rgb(255 255 255 / 71%);
          outline: 0;
          box-shadow: none;
          transition: 0.2s;
          border-bottom: 1px solid red;
          height: 60px;
          cursor: pointer;
          &:hover {
            border-bottom: 10px solid red;
          }
        }
      }
    }
    .footer-mid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 75px 0;
      border-top: 1px solid rgb(255 255 255 / 10%);
      border-bottom: 1px solid rgb(255 255 255 / 10%);
      .links {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          font-weight: normal;
          font-size: 20px;
          color: #fff;
        }
      }
      .social-icons {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          i {
            font-size: 17px;
            color: gray;
          }
        }
      }
      .policys {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          font-weight: normal;
          font-size: 20x;
          color: #fff;
          transition: 0.4s;
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 55px 0;
      span {
        font-size: 17px;
        color: #fff;
        opacity: 0.5;
      }
      p {
        font-size: 17px;
        color: #fff;
        opacity: 0.5;
      }
    }
  }
}

// media screen
$desktop: 1200px;
$large-desktop: 1024px;
$medium-desktop: 991px;
$tablet: 768px;
$small-tablet: 576px;
$mobile: 450px;
$small-mobile: 360px;

@media only screen and (max-width: $desktop) {
  main {
    .filter-product-all {
      .filter-product {
        .filter-left-all {
          display: none;
          z-index: 2;
          position: absolute;
          height: 100%;
        }
        .none-filter-icon {
          left: 0;
        }
        .product-right-all {
          margin-right: 0;
          margin-left: 0;
          z-index: 0;
          position: relative;
        }
      }
    }
  }
}
@media only screen and (max-width: $large-desktop) {
  .header {
    .nav {
      display: block;
      overflow: hidden;
    }
    .shop-item-container {
      .all-boxes-item {
        gap: 0;
        width: 100%;
        ul {
          border-bottom: none;
          flex-direction: column;
          width: 100%;
          margin: 0 auto;
          &:nth-child(2) {
            margin: 0;
          }
          &:nth-child(3) {
            margin-bottom: 0;
          }
          li {
            width: 92%;
            margin: 0 auto;
            border-bottom: 1px solid $gray;
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              border-left: none;
            }
            a {
              margin: 40px 0 0 0;
              display: flex;
              flex-direction: row;
              justify-self: center;
              align-items: center;
              font-size: 15px;
              width: 300px;
              span {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $medium-desktop) {
  .header {
    nav {
      padding: 40px 0;
    }
    .basket-container {
      width: 550px;
    }
  }
  footer {
    .footer-all {
      .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .footer-email {
          margin: 20px 0;
        }
      }
      .footer-mid {
        flex-direction: column;
        align-items: center;
        .links {
          a {
            width: 120px;
            height: 60px;
            padding-top: 15px;
            text-align: center;
            background: $gray-dark;
          }
        }
        .social-icons {
          margin: 30px 0;
        }
      }
    }
  }
}
@media only screen and (max-width: $tablet) {
  .header {
    nav {
      padding: 30px 0;
      ul {
        width: 240px;
        overflow: hidden;
        justify-content: center;
        li {
          span {
            display: none;
          }
        }
      }
      .logo {
        width: 150px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .basket-container {
      width: 470px;
      .basket-header {
        width: 400px;
      }
    }
  }
  main {
    .filter-product-all {
      .filter-product {
        .product-right-all {
          .product-right {
            .product-list {
              .swiper-slide {
                width: 47%;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $small-tablet) {
  .header {
    nav {
      padding: 25px 0;
      .menu {
        font-size: 22px;
        flex: 0 0 15%;
      }
      ul {
        li {
          i {
            margin: 0 12px;
            font-size: 20px;
          }
        }
      }
    }
    .basket-container {
      width: 400px;
      .basket-header {
        width: 320px;
      }
    }
  }
  main {
    .filter-product-all {
      .filter-product {
        .filter-left-all {
          display: none;
        }
        .product-right-all {
          min-width: 98%;
          margin-right: 50px;
          .product-right {
            .product-list {
              .swiper-slide {
                width: 95%;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-mid {
      .links {
        flex-wrap: wrap;
        a {
          width: 160px;
          height: 70px;
        }
      }
    }
  }
}
@media only screen and (max-width: $mobile) {
  .header {
    nav {
      padding: 22px 0;
      ul {
        li {
          i {
            margin: 0 7px;
            font-size: 19px;
          }
        }
      }
    }
    .basket-container {
      width: 300px;
      .basket-header {
        width: 270px;
      }
    }
  }
  footer {
    .footer-all {
      .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }
}
@media only screen and (max-width: $small-mobile) {
  .header {
    nav {
      padding: 20px 0;
      .menu {
        font-size: 20px;
        flex: 0 0 12%;
      }
      ul {
        li {
          i {
            margin: 0 5px;
            font-size: 18px;
          }
        }
      }
    }

    .basket-container {
      width: 250px;
      .basket-header {
        width: 220px;
      }
    }
  }
  footer {
    .footer-mid {
      .links {
        flex-direction: column;
        a {
        }
      }
    }
  }
}
