* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  background: #000;
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: #e1251b;
  border-radius: 5px;
}

body {
  background: black;
}

header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
}
header nav {
  border-bottom: 1px solid #6c757d;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}
header nav .menu {
  display: flex;
  flex: 0 0 17%;
  font-size: 25px;
}
header nav .menu i {
  color: #f8f9fa;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav li {
  position: relative;
  display: flex;
  align-items: center;
}
header nav li .quantity {
  width: 17px;
  height: 17px;
  color: #f8f9fa;
  position: absolute;
  bottom: -7px;
  left: 35%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 0;
  background: black;
  cursor: pointer;
}
header nav li i {
  color: #f8f9fa;
  margin: 0 18px;
  font-size: 22px;
}
header nav li span {
  color: #f8f9fa;
  font-size: 15px;
}
header .basket-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 600px;
  z-index: 99;
  background: #464646;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
}
header .basket-container .basket-content {
  width: 900px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #464646;
  padding: 70px 320px 30px 120px;
  height: 100%;
  transform: translateX(100%);
  transition: 0.5s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.23, 0.34, 0.2, 1.49);
  transform: translateX(300px);
}
header .basket-container .basket-content > p {
  font-weight: bold;
  font-size: 52px;
  color: #fff;
  margin-bottom: 35px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .basket-container:after {
  box-sizing: border-box;
}
header .basket-container:before {
  box-sizing: border-box;
}
header .basket-container:-webkit-scrollbar {
  width: 0;
  width: 5px;
  height: 0;
}
header .basket-container:-webkit-scrollbar-thumb {
  background: #e1251b;
}
header .basket-container:-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
}
header .basket-container p {
  margin-top: 0;
  margin-bottom: 1rem;
}
header .basket-container .b-product-list {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 310px);
  justify-content: space-between;
  overflow: auto;
  position: relative;
  padding-bottom: 145px;
}
header .basket-container .b-product-list .product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 10px;
  width: 47%;
  border: 1px solid #707070;
  height: 350px;
  margin-top: 80px;
}
header .basket-container .b-product-list .product-item:nth-child(1) {
  margin-top: 20px;
}
header .basket-container .b-product-list .product-item:nth-child(2) {
  margin-top: 20px;
}
header .basket-container .b-product-list .product-item .delete {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
header .basket-container .b-product-list .product-item .delete svg {
  stroke: red;
  width: 19px;
  height: 19px;
}
header .basket-container .b-product-list .product-item .num {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
header .basket-container .b-product-list .product-item .p-name {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  width: 85%;
  max-height: 70px;
}
header .basket-container .b-product-list .product-item .qty {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
header .basket-container .b-product-list .product-item .qty .qty-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .basket-container .b-product-list .product-item .qty .qty-plus svg {
  transform: rotate(-90deg);
}
header .basket-container .b-product-list .product-item .qty .piece {
  margin: 0 25px 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .basket-container .b-product-list .product-item .qty .piece input {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  color: #fff;
  width: 25px;
}
header .basket-container .b-product-list .product-item .qty .piece span {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
header .basket-container .b-product-list .product-item .qty .qty-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .basket-container .b-product-list .product-item .qty .qty-minus svg {
  transform: rotate(90deg);
}
header .basket-container .b-product-list .product-item .qty input {
  border: 0;
  width: 60px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-shadow: none;
  -moz-appearance: textfield;
}
header .basket-container .b-product-list .product-item .price {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: -moz-max-content;
  width: max-content;
  background: #464646;
  padding: 0 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .basket-container .b-product-list .product-item .price p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
header .basket-container .b-product-list .product-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
header .basket-container .basket-bottom {
  display: flex;
  flex-direction: column;
  height: 190px;
  position: relative;
}
header .basket-container .basket-bottom p {
  font-weight: normal;
  font-size: 29px;
  color: #fff;
  margin-bottom: 35px;
}
header .basket-container .basket-bottom a {
  background: #2c2c2c;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 25px;
  color: #fff;
  transition: 0.4s;
}
header .basket-container .basket-bottom a svg {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
  margin-left: 45px;
  transition: 0.4s;
}
header .basket-container .basket-bottom a:hover {
  background-color: #e1251b;
  color: #ffffff;
}
header .basket-container .site-basket .basket-content .basket-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 150px;
  background: linear-gradient(0deg, #464646 20%, transparent);
  z-index: 2;
  pointer-events: none;
}
header .basket-container .site-basket .basket-content .basket-bottom a:hover {
  background: #e1251b;
}
header .basket-container svg {
  overflow: hidden;
  vertical-align: middle;
}
header .basket-container .close-btn {
  stroke: white;
  stroke-width: 2px;
  cursor: pointer;
}
header .basket-container a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
header .basket-container a:hover {
  color: #0056b3;
  text-decoration: underline;
  text-decoration: none;
  outline: 0 !important;
}
header .basket-container b {
  font-weight: bolder;
}
header .basket-container img {
  vertical-align: middle;
  border-style: none;
}
header .basket-container input {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  border-radius: 0 !important;
}
@media only screen and (max-width: 1660px) {
  header .basket-container .basket-content {
    padding: 30px 320px 30px 120px;
  }
  header .basket-container .basket-content > p {
    font-size: 39px;
  }
  header .basket-container .b-product-list {
    height: calc(100% - 290px);
  }
  header .basket-container .site-basket .basket-content .basket-bottom::before {
    height: 100px;
  }
}
header .shop-item-container {
  width: 100%;
  height: 100vh;
  background-color: #464646;
  display: none;
  z-index: 85;
  overflow: auto;
  padding: 30px 10px 100px 10px;
  transition: opacity 0.3s ease;
}
header .shop-item-container .all-boxes-item {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
header .shop-item-container .all-boxes-item ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #6c757d;
  width: 85%;
  margin: 0 auto;
}
header .shop-item-container .all-boxes-item ul:nth-child(2) {
  margin: 30px 0;
}
header .shop-item-container .all-boxes-item ul:nth-child(3) {
  margin-bottom: 150px;
}
header .shop-item-container .all-boxes-item ul li {
  width: 100px;
  height: 124px;
  margin-bottom: 50px;
  margin-right: 70px;
}
header .shop-item-container .all-boxes-item ul li:nth-child(2), header .shop-item-container .all-boxes-item ul li:nth-child(3), header .shop-item-container .all-boxes-item ul li:nth-child(4), header .shop-item-container .all-boxes-item ul li:nth-child(5) {
  border-left: 1px solid #6c757d;
}
header .shop-item-container .all-boxes-item ul li a {
  margin: 0 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
header .shop-item-container .all-boxes-item ul li a img {
  width: 50px;
  height: 50px;
}
header .shop-item-container .all-boxes-item ul li a span {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
header .login {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  display: none;
}
header .login .login-register-button {
  display: flex;
  justify-content: center;
  background: #212226;
  width: 100%;
  align-items: center;
  gap: 40px;
  padding: 25px 0;
}
header .login .login-register-button .login-button a {
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  color: #ffffff;
  display: inline-block;
  transition: 0.4s;
}
header .login .login-register-button .register-button a {
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  color: #ffffff;
  opacity: 0.4;
  display: inline-block;
  transition: 0.4s;
}
header .login .login-form {
  background: #464646;
  padding: 40px 50px 50px;
}
header .login .login-form .form-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
header .login .login-form .form-top p,
header .login .login-form .form-top i {
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 0;
}
header .login .login-form .form-mid form .login-email input {
  border: 0;
  background: none;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  padding: 40px 20px 25px 0;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: none !important;
  outline: 0 !important;
  width: 100%;
}
header .login .login-form .form-mid form .login-email input::-moz-placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #9e9b9b;
  font-weight: bold;
}
header .login .login-form .form-mid form .login-email input::placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #9e9b9b;
  font-weight: bold;
}
header .login .login-form .form-mid form .password-email input {
  border: 0;
  background: none;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  padding: 40px 20px 25px 0;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: none !important;
  outline: 0 !important;
  width: 100%;
}
header .login .login-form .form-mid form .password-email input::-moz-placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #9e9b9b;
  font-weight: bold;
}
header .login .login-form .form-mid form .password-email input::placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #9e9b9b;
  font-weight: bold;
}
header .login .login-form .form-mid form button {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #727272;
  background: #fff;
  padding: 20px 45px;
  margin: 40px auto 0;
  outline: 0 !important;
  box-shadow: none !important;
  transition: 0.4s;
  border: none;
}
header .login .login-form .form-mid form button:hover {
  background: #e1241a;
  color: #f8f9fa;
  cursor: pointer;
}
header .login .login-form .form-mid form a {
  font-weight: normal;
  text-decoration: underline !important;
  font-size: 15px;
  color: #b7b7b7;
  display: block;
  text-align: center;
  margin-top: 25px;
  transition: 0.4s;
}
header .shop-item-search-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #464646;
  z-index: 2;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}
header .shop-item-search-container .search-close-icon {
  max-width: 50px;
  margin: 20px auto;
}
header .shop-item-search-container .search-close-icon i {
  font-size: 40px;
  color: white;
}
header .shop-item-search-container #form {
  display: inline-block;
  margin: 150px auto;
}
header .shop-item-search-container #form p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
header .shop-item-search-container #form .form_input {
  font-weight: normal;
  font-size: 101px;
  text-align: left;
  color: #fff;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  letter-spacing: 4px;
  max-width: auto;
}

main .category-bgimage-name {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
main .category-bgimage-name img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
main .category-bgimage-name .category-name {
  display: flex;
  align-items: center;
  width: 25%;
  position: absolute;
  top: 50%;
  left: 10%;
}
main .category-bgimage-name .category-name svg {
  fill: #fff;
  min-width: 55px;
  max-width: 55px;
  margin-right: 30px;
}
main .category-bgimage-name .category-name span {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  line-height: 1;
}
main .filter-product-all {
  max-width: 100%;
  margin-bottom: 50px;
}
main .filter-product-all .filter-product {
  position: relative;
  display: flex;
  justify-content: space-between;
  position: relative;
}
main .filter-product-all .filter-product .filter-left-all {
  max-width: 393px;
  background-color: #16171a;
  position: sticky;
}
main .filter-product-all .filter-product .filter-left-all .filter-left {
  position: sticky;
  top: 0;
  background-color: #16171a;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-title {
  padding-left: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-title::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -18px;
  border-style: solid;
  border-width: 20px 25px 31px 0;
  transform: rotate(128deg);
  border-color: transparent #e1251b transparent transparent;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-title svg {
  width: 50;
  height: 50;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-title span {
  font-size: 35px;
  color: #f8f9fa;
  font-weight: normal;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll {
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container {
  width: 350px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container .box-category {
  display: none;
  transition: 0.5s ease-in-out;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper {
  padding: 2px 40px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .toggle {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .toggle .cate-name-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .toggle .cate-name-icon svg {
  fill: #f8f9fa;
  width: 25px;
  height: 25px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .toggle .cate-name-icon span {
  font-size: 21px;
  color: #f8f9fa;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .toggle .cate-name-icon i {
  font-size: 21px;
  color: #f8f9fa;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .content {
  position: relative;
  font-size: 15px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .content ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .content ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f8f9fa;
  font-size: 20px;
  font-weight: normal;
  opacity: 0.3;
  transition: 0.4s;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .container ul li .wrapper .content ul li a:hover {
  opacity: 1;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .all-categories {
  width: 210px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .all-categories span {
  font-weight: bold;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.51);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .category-list .all-categories i {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.51);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range {
  max-width: 319px;
  margin: 50px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .price-title {
  font-weight: normal;
  font-size: 35px;
  color: #fff;
  margin: 50px 0 50px 14px;
  display: flex;
  align-items: center;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .price-title::after {
  content: "";
  height: 1px;
  flex: 1;
  margin-left: 55px;
  background: rgba(255, 255, 255, 0.1);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .values > div:first-child {
  margin-right: 2px;
  color: #f8f9fa;
  font-weight: bold;
  font-size: 20px;
  transform: rotate(10deg);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .values > div:last-child {
  margin-right: 2px;
  color: #f8f9fa;
  font-weight: bold;
  font-size: 20px;
  transform: rotate(10deg);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider {
  --primary: #e15f1b;
  --handle: rgb(165, 165, 165);
  --handle-active: #becfff;
  --handle-hover: #e9efff;
  --handle-border: 2px solid var(--primary);
  --line: #7a0808;
  --line-active: var(--primary);
  height: 23px;
  position: relative;
  pointer-events: none;
  margin-top: 20px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider .ui-slider-handle {
  --y: 0;
  --background: var(--handle);
  cursor: grab;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 23px;
  height: 23px;
  transform: translateX(-50%);
  position: absolute;
  outline: none;
  display: block;
  pointer-events: auto;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider .ui-slider-handle div {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  transition: background 0.4s ease;
  transform: translateY(calc(var(--y) * 1px));
  border: var(--handle-border);
  background: var(--background);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider .ui-slider-handle:hover {
  --background: var(--handle-hover);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider .ui-slider-handle:active {
  --background: var(--handle-active);
  cursor: grabbing;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider svg {
  --stroke: var(--line);
  display: block;
  height: 83px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider svg path {
  fill: none;
  stroke: var(--stroke);
  stroke-width: 1;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider .active, main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider > svg {
  position: absolute;
  top: -30px;
  height: 83px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider > svg {
  left: 0;
  width: 100%;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider .active {
  position: absolute;
  overflow: hidden;
  left: calc(var(--l) * 1px);
  right: calc(var(--r) * 1px);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider .active svg {
  --stroke: var(--line-active);
  position: relative;
  left: calc(var(--l) * -1px);
  right: calc(var(--r) * -1px);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .price-range .slider .active svg path {
  stroke-width: 2;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .product-color {
  max-width: 312px;
  margin: 50px auto;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .product-color .color-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 19px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .product-color .color-title span {
  font-weight: normal;
  font-size: 35px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .product-color .color-title::after {
  content: "";
  height: 1px;
  flex: 1;
  margin-left: 60px;
  background: rgba(255, 255, 255, 0.1);
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .product-color .colors-filter {
  max-width: 250px;
  margin: 50px auto;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .product-color .colors-filter .color-filter .color-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .filter-product-all .filter-product .filter-left-all .filter-left .filter-scroll .product-color .colors-filter .color-filter .color-box span {
  font-size: 25px;
  font-weight: normal;
  color: #f8f9fa;
  opacity: 0.8;
}
main .filter-product-all .filter-product .none-filter-icon {
  width: 50px;
  height: 80px;
  border-radius: 0 25px 25px 0;
  background-color: #000;
  position: fixed;
  left: 100%;
  top: 40%;
  z-index: 99;
}
main .filter-product-all .filter-product .none-filter-icon img {
  margin-top: 20px;
  width: 30px;
  height: 40px;
}
main .filter-product-all .filter-product .product-right-all .product-right {
  margin-top: 60px;
  margin-left: 50px;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide {
  width: 30%;
  height: 500px;
  background-color: #212226;
  transition: 0.4s ease-in-out;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  margin: 0 auto;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .product-image {
  max-width: 250px;
  height: 240px;
  overflow: hidden;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .product-image img {
  position: relative;
  width: 100%;
  height: 100%;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .product-title {
  position: relative;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .product-title span {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #9699a7;
  max-width: 80%;
  padding-top: 25px;
  margin: 0 auto 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .total-rating {
  position: relative;
  display: flex;
  align-items: center;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .total-rating .total-star i {
  color: #e1251b;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .total-rating span {
  margin-bottom: 0;
  margin-left: 15px;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .total-rating p {
  position: absolute;
  left: 105%;
  top: -10px;
  padding: 4px 7px;
  background: red;
  border-radius: 35px;
  line-height: 1;
  font-weight: bold !important;
  font-size: 13px !important;
  color: #fff;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .product-price {
  position: relative;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-box-swipper .product-price span {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #9699a7;
  margin-bottom: 0;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-add-basket {
  position: relative;
  bottom: -10%;
  opacity: 0;
  border: 1px solid #e1241a;
  background-color: #e1241a;
  padding: 10px;
  width: 80%;
  transition: 0.4s ease-in-out;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-add-basket a {
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-add-basket span {
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide .product-add-basket div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide:hover {
  border: 1px solid #e1241a;
}
main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide:hover .product-add-basket {
  bottom: -30px;
  opacity: 1;
}

footer {
  background-color: #16171a;
  width: 100%;
  display: block;
  overflow: hidden;
}
footer .footer-all {
  margin: 20px 55px;
}
footer .footer-all .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}
footer .footer-all .footer-email a {
  font-weight: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.4s;
}
footer .footer-all .footer-send-email {
  display: flex;
  align-items: center;
  width: 365px;
  height: 64px;
}
footer .footer-all .footer-send-email .buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px 18px 10px;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
}
footer .footer-all .footer-send-email .buttons span {
  font-weight: normal;
  font-size: 15px;
  text-align: right;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
footer .footer-all .footer-send-email .input-box {
  background: none;
  border-bottom: 1px solid gray;
  font-weight: normal;
  height: 60px;
  font-size: 15px;
  color: #fff;
  padding: 0 10px 30px 25px;
  outline: 0;
  box-shadow: none;
}
footer .footer-all .footer-send-email .input-box input {
  background: none;
  border: none;
  font-weight: normal;
  font-size: 15px;
  padding: 0 10px 30px 25px;
  outline: 0;
  box-shadow: none;
}
footer .footer-all .footer-send-email .send-email button {
  background: none;
  border: none;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.71);
  outline: 0;
  box-shadow: none;
  transition: 0.2s;
  border-bottom: 1px solid red;
  height: 60px;
  cursor: pointer;
}
footer .footer-all .footer-send-email .send-email button:hover {
  border-bottom: 10px solid red;
}
footer .footer-all .footer-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-all .footer-mid .links {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-all .footer-mid .links a {
  font-weight: normal;
  font-size: 20px;
  color: #fff;
}
footer .footer-all .footer-mid .social-icons {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer-all .footer-mid .social-icons a i {
  font-size: 17px;
  color: gray;
}
footer .footer-all .footer-mid .policys {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer-all .footer-mid .policys a {
  font-weight: normal;
  font-size: 20x;
  color: #fff;
  transition: 0.4s;
}
footer .footer-all .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}
footer .footer-all .footer-bottom span {
  font-size: 17px;
  color: #fff;
  opacity: 0.5;
}
footer .footer-all .footer-bottom p {
  font-size: 17px;
  color: #fff;
  opacity: 0.5;
}

@media only screen and (max-width: 1200px) {
  main .filter-product-all .filter-product .filter-left-all {
    display: none;
    z-index: 2;
    position: absolute;
    height: 100%;
  }
  main .filter-product-all .filter-product .none-filter-icon {
    left: 0;
  }
  main .filter-product-all .filter-product .product-right-all {
    margin-right: 0;
    margin-left: 0;
    z-index: 0;
    position: relative;
  }
}
@media only screen and (max-width: 1024px) {
  .header .nav {
    display: block;
    overflow: hidden;
  }
  .header .shop-item-container .all-boxes-item {
    gap: 0;
    width: 100%;
  }
  .header .shop-item-container .all-boxes-item ul {
    border-bottom: none;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .header .shop-item-container .all-boxes-item ul:nth-child(2) {
    margin: 0;
  }
  .header .shop-item-container .all-boxes-item ul:nth-child(3) {
    margin-bottom: 0;
  }
  .header .shop-item-container .all-boxes-item ul li {
    width: 92%;
    margin: 0 auto;
    border-bottom: 1px solid #6c757d;
  }
  .header .shop-item-container .all-boxes-item ul li:nth-child(2), .header .shop-item-container .all-boxes-item ul li:nth-child(3), .header .shop-item-container .all-boxes-item ul li:nth-child(4), .header .shop-item-container .all-boxes-item ul li:nth-child(5) {
    border-left: none;
  }
  .header .shop-item-container .all-boxes-item ul li a {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    font-size: 15px;
    width: 300px;
  }
  .header .shop-item-container .all-boxes-item ul li a span {
    display: inline-block;
  }
}
@media only screen and (max-width: 991px) {
  .header nav {
    padding: 40px 0;
  }
  .header .basket-container {
    width: 550px;
  }
  footer .footer-all .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  footer .footer-all .footer-top .footer-email {
    margin: 20px 0;
  }
  footer .footer-all .footer-mid {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-all .footer-mid .links a {
    width: 120px;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    background: #343a40;
  }
  footer .footer-all .footer-mid .social-icons {
    margin: 30px 0;
  }
}
@media only screen and (max-width: 768px) {
  .header nav {
    padding: 30px 0;
  }
  .header nav ul {
    width: 240px;
    overflow: hidden;
    justify-content: center;
  }
  .header nav ul li span {
    display: none;
  }
  .header nav .logo {
    width: 150px;
    height: 50px;
  }
  .header nav .logo img {
    width: 100%;
    height: 100%;
  }
  .header .basket-container {
    width: 470px;
  }
  .header .basket-container .basket-header {
    width: 400px;
  }
  main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide {
    width: 47%;
  }
}
@media only screen and (max-width: 576px) {
  .header nav {
    padding: 25px 0;
  }
  .header nav .menu {
    font-size: 22px;
    flex: 0 0 15%;
  }
  .header nav ul li i {
    margin: 0 12px;
    font-size: 20px;
  }
  .header .basket-container {
    width: 400px;
  }
  .header .basket-container .basket-header {
    width: 320px;
  }
  main .filter-product-all .filter-product .filter-left-all {
    display: none;
  }
  main .filter-product-all .filter-product .product-right-all {
    min-width: 98%;
    margin-right: 50px;
  }
  main .filter-product-all .filter-product .product-right-all .product-right .product-list .swiper-slide {
    width: 95%;
  }
  footer .footer-mid .links {
    flex-wrap: wrap;
  }
  footer .footer-mid .links a {
    width: 160px;
    height: 70px;
  }
}
@media only screen and (max-width: 450px) {
  .header nav {
    padding: 22px 0;
  }
  .header nav ul li i {
    margin: 0 7px;
    font-size: 19px;
  }
  .header .basket-container {
    width: 300px;
  }
  .header .basket-container .basket-header {
    width: 270px;
  }
  footer .footer-all .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .header nav {
    padding: 20px 0;
  }
  .header nav .menu {
    font-size: 20px;
    flex: 0 0 12%;
  }
  .header nav ul li i {
    margin: 0 5px;
    font-size: 18px;
  }
  .header .basket-container {
    width: 250px;
  }
  .header .basket-container .basket-header {
    width: 220px;
  }
  footer .footer-mid .links {
    flex-direction: column;
  }
}/*# sourceMappingURL=shop.css.map */