* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  // font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  //   "Courier New", monospace;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  background: #000;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e1251b;
  border-radius: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
body {
  background: #0f1012;
}
header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  nav {
    border-bottom: 1px solid $gray;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    .menu {
      display: flex;
      flex: 0 0 17%;
      font-size: 25px;
      i {
        color: $light;
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    li {
      .quantity {
        width: 17px;
        height: 17px;
        color: $light;
        position: absolute;
        bottom: -7px;
        left: 35%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        line-height: 0;
        background: black;
        cursor: pointer;
      }
      position: relative;
      display: flex;
      align-items: center;
      i {
        color: $light;
        margin: 0 18px;
        font-size: 22px;
      }
      span {
        color: $light;
        font-size: 15px;
      }
    }
  }
  .basket-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 600px;
    z-index: 99;
    background: #464646;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    // .basket-header {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   width: 450px;
    //   margin: 50px auto 20px auto;
    //   span {
    //     font-weight: bold;
    //     font-size: 42px;
    //     color: #fff;
    //   }
    //   .close_btn_click {
    //     margin-top: 20px;
    //     i {
    //       color: $light;
    //       font-size: 25px;
    //     }
    //   }
    // }
    // .sepet-info {
    //   width: 100%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    //   border: 1px solid #3c3c3c;
    //   padding: 15px 25px;
    //   margin-top: 20px;
    //   margin-bottom: 20px;
    //   border-radius: 3px;
    //   position: relative;
    //   .sepet-img {
    //     max-width: 120px;
    //     margin-left: 0;
    //     a {
    //       text-decoration: none;
    //       background-color: transparent;
    //       img {
    //         width: 100%;
    //         height: auto;
    //       }
    //     }
    //   }
    //   .sepet-name {
    //     max-width: 400px;
    //     text-align: center;
    //     padding: 0 15px;
    //     a {
    //       color: #fff;
    //       font-size: 13px;
    //       font-weight: 700;
    //       display: block;
    //       transition: 0.4s;
    //       line-height: 1.3;
    //     }
    //   }
    //   .sepet-count {
    //     .piece {
    //       display: flex;
    //       align-items: center;
    //       .product-qty {
    //         display: flex;
    //         align-items: center;
    //         gap: 10px;
    //         background: #1e1e1e;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         .qty-minus {
    //           transform: rotate(90deg);
    //           cursor: pointer;
    //         }
    //         .piece-count {
    //           input {
    //             background: none;
    //             border: none;
    //             font-weight: bold;
    //             font-size: 30px;
    //             text-align: center;
    //             color: #fff;
    //             width: 30px;
    //           }
    //         }
    //         .qty-plus {
    //           transform: rotate(270deg);
    //           cursor: pointer;
    //         }
    //       }
    //     }
    //   }
    //   .sepet-single-total {
    //     display: flex;
    //     text-align: center;
    //     gap: 30px;
    //     margin-left: 15px;
    //     .sepet-single {
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       gap: 5px;
    //       h6 {
    //         font-size: 16px;
    //         font-weight: 500;
    //         color: #ffffff91;
    //       }
    //       p {
    //         font-size: 16px;
    //         margin: 0;
    //         color: #fff;
    //         font-weight: 500;
    //       }
    //     }
    //     .sepet-sub-total {
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       gap: 5px;
    //       h6 {
    //         font-size: 16px;
    //         font-weight: 500;
    //         color: #ffffff91;
    //       }
    //       p {
    //         margin: 0;
    //         color: #fff;
    //         font-weight: 500;
    //       }
    //     }
    //   }
    //   .sepet-delete {
    //     color: #fff;
    //     padding: 5px 10px;
    //     font-size: 12px;
    //     font-weight: 700;
    //     background: #b71f1b;
    //     border-radius: 0 3px 0 3px;
    //     cursor: pointer;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     a {
    //       color: $light;
    //     }
    //     i {
    //       color: $light;
    //       font-weight: bold;
    //     }
    //   }
    // }

    $color_1: #fff;
    $color_2: #007bff;
    $color_3: #0056b3;
    $background-color_1: transparent;

    .basket-content {
      width: 900px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: #464646;
      padding: 70px 320px 30px 120px;
      height: 100%;
      transform: translateX(100%);
      transition: 0.5s;
      transition-delay: 0.3s;
      transition-timing-function: cubic-bezier(0.23, 0.34, 0.2, 1.49);
      transform: translateX(calc(0px + 300px));
      > p {
        font-weight: bold;
        font-size: 52px;
        color: $color_1;
        margin-bottom: 35px;
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &:after {
      box-sizing: border-box;
    }
    &:before {
      box-sizing: border-box;
    }
    &:-webkit-scrollbar {
      width: 0;
      width: 5px;
      height: 0;
    }
    &:-webkit-scrollbar-thumb {
      background: #e1251b;
    }
    &:-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px black;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .b-product-list {
      display: flex;
      flex-wrap: wrap;
      height: calc(100% - 310px);
      justify-content: space-between;
      overflow: auto;
      position: relative;
      padding-bottom: 145px;
      .product-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px 10px;
        width: 47%;
        border: 1px solid #707070;
        height: 350px;
        margin-top: 80px;
        &:nth-child(1) {
          margin-top: 20px;
        }
        &:nth-child(2) {
          margin-top: 20px;
        }
        .delete {
          width: 35px;
          height: 35px;
          background: #fff;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          svg {
            stroke: red;
            width: 19px;
            height: 19px;
          }
        }
        .num {
          font-weight: bold;
          font-size: 15px;
          text-align: center;
          color: $color_1;
          margin-bottom: 5px;
        }
        .p-name {
          font-weight: normal;
          font-size: 15px;
          text-align: center;
          color: $color_1;
          margin-bottom: 0;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;
          width: 85%;
          max-height: 70px;
        }
        .qty {
          display: flex;
          align-items: center;
          margin-top: 15px;
          .qty-plus {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            svg {
              transform: rotate(-90deg);
            }
          }
          .piece {
            margin: 0 25px 0 5px;
            user-select: none;
            input {
              background: none;
              border: none;
              font-weight: bold;
              font-size: 15px;
              text-align: right;
              color: $color_1;
              width: 25px;
            }
            span {
              font-weight: bold;
              font-size: 15px;
              text-align: center;
              color: $color_1;
            }
          }
          .qty-minus {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            svg {
              transform: rotate(90deg);
            }
          }
          input {
            border: 0;
            width: 60px;
            text-align: center;
            padding: 0;
            margin: 0;
            outline: 0;
            box-shadow: none;
            -moz-appearance: textfield;
          }
        }
        .price {
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          width: max-content;
          background: #464646;
          padding: 0 25px;
          user-select: none;
          p {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            color: $color_1;
            margin-bottom: 0;
          }
        }
        img {
          width: 100px;
          height: 100px;
          margin-bottom: 20px;
        }
      }
    }
    .basket-bottom {
      display: flex;
      flex-direction: column;
      height: 190px;
      position: relative;
      p {
        font-weight: normal;
        font-size: 29px;
        color: $color_1;
        margin-bottom: 35px;
      }
      a {
        background: #2c2c2c;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        font-size: 25px;
        color: $color_1;
        transition: 0.4s;
        svg {
          fill: none;
          stroke: #fff;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 1.5px;
          margin-left: 45px;
          transition: 0.4s;
        }
        &:hover {
          background-color: #e1251b;
          color: #ffffff;
        }
      }
    }
    .site-basket {
      .basket-content {
        .basket-bottom {
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            height: 150px;
            background: linear-gradient(0deg, #464646 20%, transparent);
            z-index: 2;
            pointer-events: none;
          }
          a {
            &:hover {
              background: #e1251b;
            }
          }
        }
      }
    }
    svg {
      overflow: hidden;
      vertical-align: middle;
    }
    .close-btn {
      stroke: white;
      stroke-width: 2px;
      cursor: pointer;
    }
    a {
      color: $color_2;
      text-decoration: none;
      background-color: $background-color_1;
      &:hover {
        color: $color_3;
        text-decoration: underline;
        text-decoration: none;
        outline: 0 !important;
      }
    }
    b {
      font-weight: bolder;
    }
    img {
      vertical-align: middle;
      border-style: none;
    }
    input {
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      overflow: visible;
      border-radius: 0 !important;
    }
    @media only screen and (max-width: 1660px) {
      .basket-content {
        padding: 30px 320px 30px 120px;
        > p {
          font-size: 39px;
        }
      }
      .b-product-list {
        height: calc(100% - 290px);
      }
      .site-basket {
        .basket-content {
          .basket-bottom {
            &::before {
              height: 100px;
            }
          }
        }
      }
    }
  }
  .shop-item-container {
    width: 100%;
    height: 100vh;
    background-color: #464646;
    display: none;
    z-index: 85;
    overflow: auto;
    padding: 30px 10px 100px 10px;
    transition: opacity 0.3s ease;
    .all-boxes-item {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid $gray;
        width: 85%;
        margin: 0 auto;
        &:nth-child(2) {
          margin: 30px 0;
        }
        &:nth-child(3) {
          margin-bottom: 150px;
        }
        li {
          width: 100px;
          height: 124px;
          margin-bottom: 50px;
          margin-right: 70px;
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            border-left: 1px solid $gray;
          }
          a {
            margin: 0 auto;
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            img {
              width: 50px;
              height: 50px;
            }
            span {
              font-size: 15px;
              line-height: 22px;
              text-align: center;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .login {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    display: none;
    .login-register-button {
      display: flex;
      justify-content: center;
      background: #212226;
      width: 100%;
      align-items: center;
      gap: 40px;
      padding: 25px 0;
      .login-button {
        a {
          font-weight: 400;
          font-size: 22px;
          text-align: right;
          color: #ffffff;
          display: inline-block;
          transition: 0.4s;
        }
      }
      .register-button {
        a {
          font-weight: 400;
          font-size: 22px;
          text-align: right;
          color: #ffffff;
          opacity: 0.4;
          display: inline-block;
          transition: 0.4s;
        }
      }
    }
    .login-form {
      background: #464646;
      padding: 40px 50px 50px;
      .form-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        p,
        i {
          font-weight: normal;
          font-size: 20px;
          color: #ffffff;
          margin-bottom: 0;
        }
      }
      .form-mid {
        form {
          .login-email {
            input {
              border: 0;
              background: none;
              font-weight: normal;
              font-size: 15px;
              color: #ffffff;
              padding: 40px 20px 25px 0;
              border-bottom: 1px solid #d6d6d6;
              box-shadow: none !important;
              outline: 0 !important;
              width: 100%;
              &::placeholder {
                font-weight: normal;
                font-size: 15px;
                color: #9e9b9b;
                font-weight: bold;
              }
            }
          }
          .password-email {
            input {
              border: 0;
              background: none;
              font-weight: 300;
              font-size: 15px;
              color: #ffffff;
              padding: 40px 20px 25px 0;
              border-bottom: 1px solid #d6d6d6;
              box-shadow: none !important;
              outline: 0 !important;
              width: 100%;
              &::placeholder {
                font-weight: normal;
                font-size: 15px;
                color: #9e9b9b;
                font-weight: bold;
              }
            }
          }
          button {
            font-weight: 600;
            font-size: 15px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #727272;
            background: #fff;
            padding: 20px 45px;
            margin: 40px auto 0;
            outline: 0 !important;
            box-shadow: none !important;
            transition: 0.4s;
            border: none;
            &:hover {
              background: #e1241a;
              color: $light;
              cursor: pointer;
            }
          }
          a {
            font-weight: normal;
            text-decoration: underline !important;
            font-size: 15px;
            color: #b7b7b7;
            display: block;
            text-align: center;
            margin-top: 25px;
            transition: 0.4s;
          }
        }
      }
    }
  }
  .shop-item-search-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #464646;
    z-index: 2;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    .search-close-icon {
      max-width: 50px;
      margin: 20px auto;
      i {
        font-size: 40px;
        color: #ffff;
      }
    }
    #form {
      display: inline-block;
      margin: 150px auto;
      p {
        color: rgb(255 255 255 / 50%);
        margin-bottom: 10px;
      }
      .form_input {
        font-weight: normal;
        font-size: 101px;
        text-align: left;
        color: #fff;
        background: none;
        border: 0;
        box-shadow: none;
        outline: 0;
        letter-spacing: 4px;
        max-width: auto;
      }
    }
  }
}

main {
  .bg-image-user {
    background-image: url(/assets/image/demobg.png);
    width: 100%;
    height: 42vh;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }

  .user-screen-menu {
    display: flex;
    gap: 30px;
    position: relative;
    padding: 30px 0;
    max-width: 80%;
    border-radius: 45px;
    background: #16171a;
    box-shadow: 0px 35px 20px -20px rgb(18 2 1 / 29%);
    margin: -90px auto 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .active {
      position: relative;
      z-index: 1;
      text-align: center;
      -webkit-box-flex: 0;
      flex: 0 0 127px;
      height: 127px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      border-radius: 20px;
      padding: 0 4px;
      transition: 0.4s;
      background: rgb(225 37 27 / 60%);
    }
    a {
      position: relative;
      z-index: 1;
      text-align: center;
      -webkit-box-flex: 0;
      flex: 0 0 127px;
      height: 127px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      border-radius: 20px;
      padding: 0 4px;
      transition: 0.4s;
      &:hover {
        background: #3f191a;
      }
      svg {
        path {
          width: 30;
          height: 30;
          fill: white;
        }
      }
      span {
        margin-top: 18px;
        display: block;
        font-weight: 300;
        font-size: 13px;
        color: #ffffff;
      }
    }
  }

  .user-screen-content {
    position: relative;
    width: 75%;
    margin: 60px auto;
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 25px;
    padding: 60px 60px;
    .user-about-all {
      display: block;
      .form-user-title {
        position: absolute;
        top: -3%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
          font-weight: normal;
          font-size: 20px;
          color: #ffffff;
          display: block;
          &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 10px;
            right: 10px;
            height: 4px;
            border-radius: 2.86px 1.14px;
            background: #9e1210;
            z-index: -1;
          }
        }
      }
      .user-forms {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form-name,
        .user-phone {
          max-width: 300px;
          input {
            font-weight: 300;
            font-size: 19px;
            height: 48px;
            background: #0f1012;
            color: #fffdfd;
            box-shadow: none;
            outline: none;
            -o-transition: 0.4s;
            transition: 0.4s;
            border: none;
            border-bottom: 1px solid rgb(214 214 214 / 20%);
            padding: 0px 0 15px 0;
            &::placeholder {
              font-size: 20px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  .user-screen-content-password {
    position: relative;
    width: 75%;
    margin: 60px auto;
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 25px;
    padding: 60px 60px;
    display: none;
    .user-about-all-password {
      display: block;
      .form-user-title-password {
        position: absolute;
        top: -3%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
          font-weight: normal;
          font-size: 20px;
          color: #ffffff;
          display: block;
          &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 10px;
            right: 10px;
            height: 4px;
            border-radius: 2.86px 1.14px;
            background: #9e1210;
            z-index: -1;
          }
        }
      }
      .user-password {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form-name,
        .user-phone {
          max-width: 300px;
          input {
            font-weight: 300;
            font-size: 19px;
            height: 48px;
            background: #0f1012;
            color: #fffdfd;
            box-shadow: none;
            outline: none;
            -o-transition: 0.4s;
            transition: 0.4s;
            border: none;
            border-bottom: 1px solid rgb(214 214 214 / 20%);
            padding: 0px 0 15px 0;
            &::placeholder {
              font-size: 20px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  .close-user-all {
    display: none;
    .close-user {
      z-index: 33;
      position: absolute;
      background-color: #000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #e1251b;
      width: max-content;
      padding: 30px;
      .close-user-text {
        text-align: center;
        p {
          color: #ffff;
          font-size: 17px;
          font-weight: normal;
        }
        button {
          border: none;
          color: #ffff;
          background-color: #e1241a;
          padding: 10px 15px;
          margin-left: 15px;
          font-size: 17px;
        }
      }
    }
  }
}

footer {
  background-color: #16171a;
  .footer-all {
    width: 1224px;
    margin: 0 auto;
    .footer-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 55px 0;
    }
    .footer-email {
      a {
        font-weight: normal;
        font-size: 20px;
        color: rgb(255 255 255 / 60%);
        transition: 0.4s;
      }
    }
    .footer-send-email {
      display: flex;
      align-items: center;
      width: 365px;
      height: 64px;
      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 20px 18px 10px;
        border-right: 1px solid #707070;
        border-bottom: 1px solid #707070;
        span {
          font-weight: normal;
          font-size: 15px;
          text-align: right;
          color: #fff;
          cursor: pointer;
          transition: 0.4s;
        }
      }
      .input-box {
        background: none;
        border-bottom: 1px solid gray;
        font-weight: normal;
        height: 60px;
        font-size: 15px;
        color: #fff;
        padding: 0 10px 30px 25px;
        outline: 0;
        box-shadow: none;
        input {
          background: none;
          border: none;
          font-weight: normal;
          font-size: 15px;
          padding: 0 10px 30px 25px;
          outline: 0;
          box-shadow: none;
        }
      }
      .send-email {
        button {
          background: none;
          border: none;
          font-weight: normal;
          font-size: 15px;
          color: rgb(255 255 255 / 71%);
          outline: 0;
          box-shadow: none;
          transition: 0.2s;
          border-bottom: 1px solid red;
          height: 60px;
          cursor: pointer;
          &:hover {
            border-bottom: 10px solid red;
          }
        }
      }
    }
    .footer-mid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 75px 0;
      border-top: 1px solid rgb(255 255 255 / 10%);
      border-bottom: 1px solid rgb(255 255 255 / 10%);
      .links {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          font-weight: normal;
          font-size: 20px;
          color: #fff;
        }
      }
      .social-icons {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          i {
            font-size: 17px;
            color: gray;
          }
        }
      }
      .policys {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          font-weight: normal;
          font-size: 20x;
          color: #fff;
          transition: 0.4s;
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 55px 0;
      span {
        font-size: 17px;
        color: #fff;
        opacity: 0.5;
      }
      p {
        font-size: 17px;
        color: #fff;
        opacity: 0.5;
      }
    }
  }
}
$large-desktop: 1024px;
$medium-desktop: 991px;
$tablet: 768px;
$small-tablet: 576px;
$mobile: 450px;
$small-mobile: 360px;
@media only screen and (max-width: $large-desktop) {
  .header {
    .nav {
      display: block;
      overflow: hidden;
    }
    .shop-item-container {
      .all-boxes-item {
        gap: 0;
        width: 100%;
        ul {
          border-bottom: none;
          flex-direction: column;
          width: 100%;
          margin: 0 auto;
          &:nth-child(2) {
            margin: 0;
          }
          &:nth-child(3) {
            margin-bottom: 0;
          }
          li {
            width: 92%;
            margin: 0 auto;
            border-bottom: 1px solid $gray;
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              border-left: none;
            }
            a {
              margin: 40px 0 0 0;
              display: flex;
              flex-direction: row;
              justify-self: center;
              align-items: center;
              font-size: 15px;
              width: 300px;
              span {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
  .power-slider {
    .power-slider-header {
      width: 100%;
      display: inline-block;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: $medium-desktop) {
  .header {
    nav {
      padding: 40px 0;
    }
    .basket-container {
      width: 550px;
    }
  }
  .power-slider {
    .power-slider-boxs1,
    .power-slider-boxs2,
    .power-slider-boxs3 {
      .power-slider-box1 {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .header {
    nav {
      padding: 30px 0;
      ul {
        width: 240px;
        overflow: hidden;
        justify-content: center;
        li {
          span {
            display: none;
          }
        }
      }
      .logo {
        width: 150px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .basket-container {
      width: 470px;
      .basket-header {
        width: 400px;
      }
    }
  }
}

@media only screen and (max-width: $small-tablet) {
  .header {
    nav {
      padding: 25px 0;
      .menu {
        font-size: 22px;
        flex: 0 0 15%;
      }
      ul {
        li {
          i {
            margin: 0 12px;
            font-size: 20px;
          }
        }
      }
    }
    .basket-container {
      width: 400px;
      .basket-header {
        width: 320px;
      }
    }
  }
  main {
    .mySwiper {
      .swiper-wrapper {
        .swiper-slide {
          .slider-text {
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .header {
    nav {
      padding: 22px 0;
      ul {
        li {
          i {
            margin: 0 7px;
            font-size: 19px;
          }
        }
      }
    }
    .basket-container {
      width: 300px;
      .basket-header {
        width: 270px;
      }
    }
  }
}

@media only screen and (max-width: $small-mobile) {
  .header {
    nav {
      padding: 20px 0;
      .menu {
        font-size: 20px;
        flex: 0 0 12%;
      }
      ul {
        li {
          i {
            margin: 0 5px;
            font-size: 18px;
          }
        }
      }
    }
    .basket-container {
      width: 250px;
      .basket-header {
        width: 220px;
      }
    }
  }
}
